$font-size: 10px;
$font-family: 'Playfair',
sans-serif;
$background-color: #fff;
$font-color: #111;
$page-width: 1400px;

$content-width: 1400px;
$tablet-width: 760px;
$mobile-width: 650px;
$mobile-small-width: 360px;